body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #d6b10e;
}

.calculator {
  width: 350px;
  height: 530px;
  border-radius: 15px;
  box-shadow: 5px 5px 0px 0px #828285, 10px 10px 0px 0px #828285, 15px 15px 0px 0px #828285, 20px 20px 0px 0px #828285, 25px 25px 50px 0px rgba(27, 27, 27, 0.0352941176), 30px 30px 50px 0px rgba(27, 27, 27, 0.0352941176), 40px 40px 50px 0px rgba(27, 27, 27, 0.0352941176), 45px 45px 50px 0px rgba(27, 27, 27, 0.0352941176), 50px 50px 50px 0px rgba(27, 27, 27, 0.0352941176), 55px 55px 50px 0px rgba(27, 27, 27, 0.0352941176), 60px 60px 50px 0px rgba(27, 27, 27, 0.0352941176), 65px 65px 50px 0px rgba(27, 27, 27, 0.0352941176), 70px 70px 50px 0px rgba(27, 27, 27, 0.0352941176), 75px 75px 50px 0px rgba(27, 27, 27, 0.0352941176), 80px 80px 50px 0px rgba(27, 27, 27, 0.0352941176), 85px 85px 50px 0px rgba(27, 27, 27, 0.0352941176), 90px 90px 50px 0px rgba(27, 27, 27, 0.0352941176), 95px 95px 50px 0px rgba(27, 27, 27, 0.0352941176), 100px 100px 50px 0px rgba(27, 27, 27, 0.0352941176), 105px 105px 50px 0px rgba(27, 27, 27, 0.0352941176), 110px 110px 50px 0px rgba(27, 27, 27, 0.0352941176), 115px 115px 50px 0px rgba(27, 27, 27, 0.0352941176), 120px 120px 50px 0px rgba(27, 27, 27, 0.0352941176), 125px 125px 50px 0px rgba(27, 27, 27, 0.0352941176), 130px 130px 50px 0px rgba(27, 27, 27, 0.0352941176), 135px 135px 50px 0px rgba(27, 27, 27, 0.0352941176), 140px 140px 50px 0px rgba(27, 27, 27, 0.0352941176), 145px 145px 50px 0px rgba(27, 27, 27, 0.0352941176), 150px 150px 50px 0px rgba(27, 27, 27, 0.0352941176), 155px 155px 50px 0px rgba(27, 27, 27, 0.0352941176), 160px 160px 50px 0px rgba(27, 27, 27, 0.0352941176);
}
.calculator__screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #24252a;
}
.calculator__screen .screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100px;
  margin: 20px 0 0 0;
  background: rgb(54, 59, 65);
  background: linear-gradient(135deg, rgb(54, 59, 65) 50%, rgb(52, 57, 63) 50%);
  text-align: right;
}
.calculator__screen .screen #secondary-screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  height: 30px;
  font-size: 25px;
  font-weight: 400;
  color: gray;
  overflow: hidden;
}
.calculator__screen .screen #primary-screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  height: 50px;
  font-size: 35px;
  font-weight: 400;
  color: white;
  overflow: hidden;
}
.calculator__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 67%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #c3c1c4;
}
.calculator__buttons button {
  width: 65px;
  height: 60px;
  margin: 4px 5px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 0px 1px #6b6b6b;
  background: #a1a1a3;
}
.calculator__buttons button:active {
  box-shadow: 0 0 0 0 #6b6b6b, inset 3px 3px 0 #6b6b6b;
  transform: translate(5px, 5px);
}
.calculator__buttons .operators {
  background: #24272c;
}
.calculator__buttons .equal {
  background: #8f1a20;
}
.calculator__buttons .zero {
  width: 145px;
  height: 60px;
}